{# Refactored from Radix page.html.twig template to enable conditional #}
{# placement based on whether the sidebar region has content #}

{% if page.header %}
  <header class="page__header mb-3">
    <div class="container">
      {{ page.header }}
    </div>
  </header>
{% endif %}

{% if page.content %}
  <div class="page__content">
    <div class="container">
      {{ page.content }}
    </div>
  </div>
{% endif %}
