{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  {% embed '@radix/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
    color: 'light',
    utility_classes: ['bg-light'],
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="mr-auto">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
      {% endif %}
    {% endblock %}
  {% endembed %}

  <main class="pt-5 pb-5">
    {% if page.sidebar_first %}
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            {{ page.sidebar_first }}
          </div>
          <div class="col-md-10">
            {% include directory ~ '/templates/page/header_and_content.html.twig' %}
          </div>
        </div>
      </div>
    {% else %}
      {% include directory ~ '/templates/page/header_and_content.html.twig' %}
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer">
      <div class="container">
        <div class="d-flex justify-content-md-between">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  {% endif %}
</div>
