// DUL Variables
//
// Values declared here will override any existing values in:
// - Radix Bootstrap (base/_variables.scss)
// - Cosmo Bootswatch Theme (~bootswatch/dist/cosmo/variables)

// Increase Base Font Size
$font-size-base: 1.05rem !default;

//== Colors

/* ================================= */
/* Duke Branding Guide colors        */
/* https://brand.duke.edu/colors/    */
/* ================================= */
$duke-navy-blue:    #012169 !default;
$duke-royal-blue:   #00539b !default;
$copper:            #c84e00 !default;
$persimmon:         #e89923 !default;
$dandelion:         #ffd960 !default;
$piedmont:          #a1b70d !default;
$eno:               #339898 !default;
$magnolia:          #1d6363 !default;
$prussian-blue:     #005587 !default;
$shale-blue:        #0577b1 !default;
$ironweed:          #993399 !default;
$hatteras:          #e2e6ed !default;
$whisper-gray:      #f3f2f1 !default;
$ginger-beer:       #fcf7e5 !default;
$dogwood:           #988675 !default;
$shackleford:       #dad0c6 !default;
$cast-iron:         #262626 !default;
$graphite:          #666666 !default;
$granite:           #b5b5b5 !default;
$limestone:         #e5e5e5 !default;


$dul-masthead-blue: #053482 !default;
