ul[id^=catalog-feed-items] {
  margin: 0;
  padding: 0;
  li {
    margin-left: 0;
    margin-bottom: 0.5em;
    vertical-align: top;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    .new-additions-title {
      display: inline-block;
    }
  }
  img {
    max-width: 100%;
  }

  &.new-additions-with-thumb {
    list-style: none;
    li {
      padding: 0;
      min-width: 100px;
      width: 130px;
      display: inline-block;
      margin-right: 10px;
    }
    &.single-row {
      display: flex !important;
      flex-wrap: nowrap !important;
      overflow-x: hidden;
      li {
        flex: 1 1 130px;
      }
    }
  }

  &.smaller-thumbs {
    li {
      width: 105px;
    }
    .new-additions-title {
      font-size: 14px;
    }
    .new-additions-author {
      font-size: 13px;
      line-height: 1.2em;
      margin-top: 0.5em;
    }
  }
  /* Hide any remaining items after the data-showitems value (up to 20) */
  @for $i from 1 to 20 {
    &[data-showitems="#{$i}"] li:nth-of-type(n+#{$i + 1}) { display: none; }
  }
}
