// DUL Custom Styles for Stuff That Appears in the Layout Builder
// -----------------------------------------------------------------------------
#layout-builder {
  .dul-layouts-asidebox-option {
    z-index: 4;
    p:not(:first-child) {
      display: none;
    }
  }
  .page__field-aside-box-title {
    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

#drupal-off-canvas {
  .js-layout-builder-categories {
    ul, ol {
      li.nav-item {
        width: 100%;
      }
    }
  }
}