// Page: Footer
// -----------------------------------------------------------------------------
.page__footer {

  // Styles imported from 'classic' dulcet -- strictly as a proof-of-concept (would need some refining, etc)
  margin-top: 20px;
  background-color: $limestone;
  border-top: $granite 6px solid;
  padding-top: 20px;
  padding-bottom: 20px;

  .social-media-icons {
    margin-top: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    @media (max-width: 800px) {
      border-top: 1px dotted $granite;
      border-bottom: 1px dotted $granite;
      padding: 10px 0 10px 0;
    }
  }

  .social-media-icons div {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 6px;
    line-height: 0 !important;
    font-size: 0 !important;

    &.twitter {
      background: url("https://libcms.oit.duke.edu/sites/all/themes/dulcet/assets/images/footer_icon_sprite_2015.png") no-repeat 0 0;
    }
    &.facebook {
      background: url("https://libcms.oit.duke.edu/sites/all/themes/dulcet/assets/images/footer_icon_sprite_2015.png") no-repeat -24px 0;
    }
    &.youtube {
      background: url("https://libcms.oit.duke.edu/sites/all/themes/dulcet/assets/images/footer_icon_sprite_2015.png") no-repeat -48px 0;
    }
    &.flickr {
      background: url("https://libcms.oit.duke.edu/sites/all/themes/dulcet/assets/images/footer_icon_sprite_2015.png") no-repeat -72px 0;
    }
    &.pinterest {
      background: url("https://libcms.oit.duke.edu/sites/all/themes/dulcet/assets/images/footer_icon_sprite_2015.png") no-repeat -96px 0;
    }
    &.instagram {
      background: url("https://libcms.oit.duke.edu/sites/all/themes/dulcet/assets/images/footer_icon_sprite_2015.png") no-repeat -96px 0;
    }
    &.rss {
      background: url("https://libcms.oit.duke.edu/sites/all/themes/dulcet/assets/images/footer_icon_sprite_2015.png") no-repeat -120px 0;
    }
  }

  #duke-logo {
    margin-bottom: 20px;
  }

  a.drupal-shib-login {
    border: 1px solid $graphite;
    padding: 5px 10px 5px 5px;
    color: $graphite;
    background: $whisper-gray;
    font-weight: normal;
    margin-top: 2em;
  }


}
